<!doctype html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="utf-8">
  <title>Sunny days</title>
  <link href="{% static 'style.css' %}" rel="stylesheet">
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
<h1>Sunny days in cities</h1>

<div id="app">
  <label>
    <select name="city" v-model="selectedCity">
      <option value="">- Select city -</option>
      {% for city in cities %}
        <option value="{{ city.id }}">{{ city.name }}</option>
      {% endfor %}
    </select>
  </label>
  <p v-if="selectedCity">
    Historical longest period of sunny days in given city: @{ longestSunshinePeriod }<br>
    Longest period in current month: @{ monthMaxSunshinePeriod }<br>
    Length of current period of sunshine: @{ currentSunshinePeriod }
  </p>
  <p v-if="!selectedCity">
    Choose a city to learn more about its sunny days
  </p>
</div>

<script src="{% static 'app.js' %}"></script>
</body>
</html>